html, body {
    margin: 0px;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

.navigation {
    flex-basis: 15%;
    flex-grow: 0;
    flex-shrink: 0;
    min-height: 100vh;
    background: rgb(247, 246, 243) none repeat scroll 0% 0%;

    color: rgba(55, 53, 47, 0.4) !important;
    font-size: 11.5px;
    font-weight: 500;

    padding: 10px;
}

.navigation ul {
    width: 100%;
    padding-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.navigation li {
    width: 75%;
    line-height: 1.75;

    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.editor {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 10px;
}

.editor-bloc {
    display: block;
    width: 80%;
    margin: auto;
    margin-bottom: 8px;
    color: rgb(55, 53, 47);

    border: none;
    word-break: break-word;
}

.editor-bloc p { margin: 0; }

.notion {
    display: flex;
    flex-direction: row;
}

.note-editor-title {
    color: rgb(55, 53, 47);
    font-weight: 700;
    line-height: 1.2;
    font-size: 40px;
    cursor: text;
    margin-left: 30px;
    margin-bottom: 15px;

    border: none;
}

.navigation-btn {
    width: fit-content;   
    height: fit-content; 

    background: rgb(247, 246, 243) none repeat scroll 0% 0%;
    border: 1px solid rgb(173, 165, 165);
    border-radius: 3px;
    -webkit-appearance:none;
}

.navigation ul li .navigation-btn {
    display: none;
}

.navigation ul li:hover .navigation-btn {
    display: block;
}

.navigation ul li div{
    width: 100%;
    cursor: pointer;
}

li {
    list-style-type: none;
}

.selected-note {
    font-weight: bolder;
    background-color: lightgray;

    padding-left: 5px;
    border-radius: 25px;
}

[contentEditable=true]:hover:empty:not(:focus):before{
    content:attr(data-text);
    color: lightgray !important;
}

[contenteditable] {
    outline: 0px solid transparent;
  }

.navigation-page-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

input:placeholder-shown {
    color:  rgba(25, 23, 17, 0.6);
}

.time {
    width: 15%;
    position: absolute;
    bottom: 0;
    text-align: center;
}